*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 1140px;
	margin: 0 auto;
	margin-top: 56px;
}
.header{
    background-color:#f6f9f9; 
}

.banner{
	background:url(../img/bg.png)no-repeat;
	background-size: cover;
	width: 100%;
	float: left;
}
.banner-top {
    width: 443px;
    margin: 0 auto;
    text-align: center;
    padding-top: 240px;
    margin-bottom: 319px;
}
.banner-top h2 {
    color: #fff;
    border-bottom: 2px solid #2196f3;
    font-size: 100px;
    margin-bottom: 44px;
}
button.btn {
    margin-top: 50px;
    padding: 10px 14px;
    background: transparent;
    border: 1px solid #3968bd;
    color: white;
    margin-bottom: 150px;
}
.top {
	color: white;
}
.hero {
    width: 100%;
    float: left;
    text-align: center;
    background-color: #f6f9f9;
}
.hero-section{
	margin-top: 99px;
}
p.para {
    color: #999999;
    margin-bottom: 60px;
}

.hero-section h2{
	color: #2d3950;
    font-size: 45px;
    margin-bottom: 23px
}
.feature{
	
}
.gallery{
	width: 100%;
	float: left;
	background-color: #f6f9f9;


}
.content{

text-align: center;

margin-bottom: 60px;
}
.content h2{

color: #444d60;

font-size: 42px;

margin-bottom: 30px;
}
.content p{

color: #999999;
}
.img{
    
margin-bottom: 85px;

}
.im{

    margin: 8px 8px;
}
.background{
    background: url(../img/bg2.png) no-repeat;
    background-size: cover;
    width: 100%;
    float: left;
    padding-top: 50px;
}

.msg-header{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.msg-header h2{

font-size: 40px;

margin-bottom: 15px;
}

.msg-header p{

font-size: 12px;

margin-bottom: 40px;
}

.msg-box {
    width: 550px;
    margin: 0 auto;
}

.form-input{
    
width: 97%;
    
float: left;
    
margin: 10px 0px;
    
padding: 10px 0px;
    
border: 1px solid #2196F3;
    
background: transparent;
    
border-radius: 16px;
    
padding-left: 15px;
    
color: #ffffff;
    
font-size: 15px;
}

.form-text{

width: 97%;

float: left;

height: 180px;

background: transparent;

border: 1px solid #2196F3;

border-radius: 16px;

padding: 10px 0px;

padding-left: 15px;

margin-top: 10px;

font-size: 20px;

color: #fff;

margin-bottom: 20px;
}


.form-btn {
    width: 24%;
    float: right;
    padding: 10px;
    background: transparent;
    border-radius: 15px;
    border: 1px solid #2196F3;
    font-size: 15px;
    color: #fff;
    margin-bottom: 35px;
    cursor: pointer;
}
.background{
    width: 100%;
    float: left;
}